# osx noise
.DS_Store
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS

# sass
*.scssc
*.css.map
*.sass-cache/

# bower
bower_components/

# general
*.log

# cake
app/config/database.php
app/tmp/*
*/app/config/database.php
*/app/tmp/*

# wordpress
sitemap.xml
sitemap.xml.gz

# npm
*node_modules/

# IDEs
*.idea/

# build
extension.zip
